{% extends 'main/site.html' %}
{% load static %}
{% block link %}
<link href="{% static 'main/css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<main>
    <div class="containerForm">
        <form method="post">
            {% csrf_token %}
            <p>Welcome</p>
            {{ form.username }} <br>
            {{ form.password }} <br>
            <span>{{error}}</span>
            <input style="margin-top: 10px;" type="submit" value="Подтвердить"><br>
            <a href="/login">Войти</a>
        </form>
    </div>
</main>
{% endblock %}